html, body {
  box-sizing: border-box;
  background-color: darkcyan;
  color: white;
  font-family: "Source Sans Pro Semibold", Verdana, Arial, sans-serif;
  height: 100%;
}

#app {
  height: 100%;
}

.appShell {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  flex: 0 0 60px;
  width: 100%;
  background-color: white;
  border: solid 1px lightgray;
  box-sizing: border-box;
}


.footer {
  flex: 0 0 20px;
  width: 100%;
  background-color: white;
  color: black;
}

#mainContent {
  flex: 1 1 560px;
}

.headerBanner {
  width: 190px;
  height: 100%;
  margin: 0 auto;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



